/*
colors used:
Primary color Cool lover yellow F9F3D7 rgb 249,243,215
Secondary color wanderer green 8BC9B2 rgb 139,201,178
Secondary color pink F14571 241,69,113
Secondary color peach F59386 245,147,134
Secondary color navy blue 07084F 7,8,79
*/
* {
  box-sizing: border-box;
}
body {
  background-color: #F9F3D7;
  font-family: 'Noto Sans TC', sans-serif;
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
}
a:hover,
a:focus {
  color: #F14571;
}
}
  color: #F59386;
}
.button {
  background-color: #8BC9B2;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  opacity: 1;
}
.button:hover {
  background-color: #F59386;
  color: #ffffff;
  text-decoration: none;
}
.button.contact {
  background-color: #8BC9B2;
  color: #ffffff;
  text-transform: uppercase;
}
.button.contact:hover {
  background-color: #F59386;
  color: #ffffff;
}
/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
}
#hero h1 {
}
.logo {
  max-width: 150px;
}
header {
  background-color: #f59386;
  padding: 10px 0;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  position: relative;
}
  list-style-type: none;
  padding: 0;
  margin: 0;
}

  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
  color: #07084f;
}
#hero {
  background-color: #f59386;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#hero span {
  display: block;
}
main {
  padding-top: 75px;
}
  list-style-type: none;
  text-align: center;
}
#social-contact li {
  display: inline-block;
  padding: 0 10px;
}
#social-contact li a {
  display: block;
  width: 50px;
}
#contact {
  text-align: center;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
main {
  padding-top: 56px;
}
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
  display: block;
  padding: 10px 0;
}

  padding: 0 0 10px;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@keyframes color-change {
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
